<!DOCTYPE HTML>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover" name="viewport">
        <link href="ionic1.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>
        <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
        <script src="node_modules/ngclipboard/dist/ngclipboard.min.js"></script>
        <script src="script.js"></script>


        <meta content="script-src 'self' 'unsafe-inline' 'unsafe-eval' http://*.fullmeasureed.com https://*.fullmeasureed.com https://cdnjs.cloudflare.com https://www.gstatic.com https://apis.google.com https://cdn.rawgit.com;" http-equiv="Content-Security-Policy">
        <title>Feed Preview</title>

    </head>
    <body ng-app="preview" ng-controller="myCtrl">
        <ion-content>
            <fme-feed>

                <div class="row">
                    <h2 >
                        Components

                    </h2>
                </div>
                <div class="row">

                    <div class="button-bar" >
                        <button class="button button-secondary" ng-if="!preview" ng-click="addTemplate()">
                            New Component
                        </button>
                        <button ng-click="togglePreview()" class="button  button-program">
                            <span ng-if="!preview">
                                Preview
                            </span>
                            <span ng-if="preview">
                                List
                            </span>
                        </button>
                        <a class="button button-funding" href="pages.html" target="pages">
                            <span>
                                Sandbox
                            </span>
                        </a>
                    </div>
                </div>
                <div  ng-show="!preview">
                    <div class="row" >
                        <div class="col-50 item item-button-right">
                            <div class="list list-inset">
                                <label class="item item-input" style="border: 1px solid grey; padding: 5px">
                                    <i class="icon ion-search placeholder-icon"></i>
                                    <input type="text" placeholder="Search" ng-model="search" >
                                </label>
                                <span>{{templates.length}}</span> Components
                            </div>
                        </div>
                    </div>
                    <ul class="list">
                        <li   class="item" ng-repeat="template in templates  | filter:search">

                            <div class="row">
                                <div class="col-50 item" ng-show="template.show">
                                    <div class="list card" style="height: 100%">
                                        <div class="item " href="#">
                                            <h2>Name</h2>
                                            <input type="text" ng-model="template.name" style="border: 1px solid grey; padding: 5px; width: 100%" placeholder="Component Name" />
                                        </div>
                                        <div class="item item-body" >
                                            <h2>Style</h2>
                                            <textarea ng-model="template.style"  style="border: 1px solid grey; padding: 5px; width: 100%; height: 250px">
                                                {{template.style}}
                                            </textarea>
                                        </div>
                                        <div class="item item-body" >
                                            <h2>HTML</h2>
                                            <textarea ng-model="template.html"  style="border: 1px solid grey; padding: 5px; width: 100%; height: 250px">
                                                {{template.html}}
                                            </textarea>
                                            <div class="button-bar" >
                                                <button class="button-full button button-secondary margin" ng-click="updateTemplate(template); template.show = false" style="margin: 10px 0px">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-50 item" style="border-bottom: 1px solid lightgrey; width: 100%">
                                    <div class="list card">
                                        <div class="item item-avatar" href="#">
                                            <img ng-src="{{template.created_by_photo}}">
                                            <img ng-if='template.updated_by_photo' ng-src="{{template.updated_by_photo}}" class="updated-by-photo">
                                            <h2>{{template.name}}</h2>
                                            <p>created by: {{template.created_by}}</p>
                                            <p>updated by: {{template.updated_by}}</p>
                                        </div>
                                        <div class="button-bar" >
                                            <button class="button icon  button-secondary ion-edit" ng-click="template.show = !template.show">
                                            </button>
                                            <button class="button icon  button-funding ion-ios-copy" ngclipboard data-clipboard-text="{{processed(template)}}">
                                            </button>
                                            <button class="button icon  button-program ion-search" ng-click="togglePreview()">
                                            </button>
                                            <button class="button button-danger icon ion-trash-b" ng-click="deleteTemplate(template)">
                                            </button>
                                        </div>
                                        <div class="item item-body" id="container_{{template.id}}" ng-bind-html="trust(template)" style="max-height: 650px; background-color: #d1cfcf; padding: 0px">

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </li>
                    </ul>
                </div>

                <div ng-show="preview">
                    <!----------- IF YOU WANT TO DO SCREEN SHOTS  --------------->
                    <div class="row">
                        <div class="col col-50" >
                            <textarea ng-model="raw" rows="40" cols="70" style="border: 1px solid black"></textarea>
                        </div>
                        <div class="col col-50" ng-bind-html="trustAsHtml()" style="max-width: 400px; border: 4px solid black;">
                        </div>
                    </div>
                </div>
            </fme-feed>
        </ion-content>
    </body>
</html>