.create-overflow {
  height: 700px;
  min-height: 700px;
  max-height: 700px;
  overflow-y: scroll;
  padding: 8px;
}
img.updated-by-photo {
  position: absolute;
  top: 45px;
  left: 35px;
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}